<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    {{ page.navigation }}
  </div>
</nav>
<div class="jumbotron text-center">
  {{ page.header }}
</div>
<div class="content-wrapper">
  {{ page.content }}
</div>
<div class="foooter-wrapper">
  {{ page.footer }}
</div>
